@import "../../../assets/styles/variables";


.preloader {
  align-items: center;
  flex-direction: column!important;
  position: absolute!important;
  font-size: $font-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--bottom-scroll-loader {
    top: auto;
    height: auto;
  }

  &--top-scroll-loader {
    height: max-content;
    top: 0.625rem;
  }

  &--bottom-scroll-loader, &--top-scroll-loader {
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.app--not-active {

  .preloader {
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

