@import "../../assets/styles/variables";

.profile {
  $self: &;

  max-width: 350px!important;
  margin: auto;

  &__section {
    font-size: 1.2rem!important;
    line-height: 1.5rem;
    margin-bottom: $default-margin;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    #{ $self }__status {
      display: flex;
      align-self: center;
    }
  }

  &__avatar {

    #{ $self }-avatar-wrapper {
      width: 150px;
      height: 150px;
    }

    #{ $self }-avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {

    &__section {
      font-size: $font-size!important;
      margin-bottom: 0.5rem!important;
    }

    &__avatar {

      #{ $self }-avatar-wrapper {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.ant-drawer-content-wrapper {

  @media (max-width: 767px) {
    width: auto!important;
  }
}