@import "../../../assets/styles/variables";

.upload-file {
  $self: &;

  position: relative;
  padding: 0.5rem;
  background-color: $blue;
  width: max-content;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: $white;
  margin-top: $default-margin;

  &__icon {
    margin-right: 0.25rem;
  }

  &__file-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: transparent;
    outline: none;
    opacity: 0;
  }

  &--chat-page {
    margin: 0 0.75rem 0;
    height: 1.875rem;
    width: 1.875rem;

    @extend %display-flex-center;

    #{ $self }__icon {
      margin: auto;
    }
  }

  @media (max-width: 400px) {
    &--chat-page {
      margin: 0 0.25rem 0;
    }
  }
}


::-webkit-file-upload-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  z-index: 10;
  color: transparent;
  outline: none;
  cursor: pointer;
}