@import "../../assets/styles/variables";

.user-info-page {
  $self: &;

  display: flex;

 .left-block {

   #{ $self }__card {
     width: 240px;

     #{ $self }__card-avatar {
       height: 300px;
       object-fit: cover;
     }
   }

   #{ $self }__btn {
     margin-top: $default-margin / 2;
   }

   #{ $self }__btn--is-friend {
     background: $red!important;
     color: white!important;
   }

   #{ $self }__friends-wrapper {
     width: 240px;
     padding: 0.5rem;
     margin-top: $default-margin;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     font-size: 0.875rem;
     color: $black;
     height: 2rem;
     cursor: pointer;

     #{ $self }__friends {
       color: rgba(0, 0, 0, 0.5);
       padding-left: 0.5rem;
       background-color: $white;
     }
   }

   #{ $self }__friends-wrapper--disabled {
     pointer-events: none;
   }
 }

  .right-block {
    margin-left: $default-margin;
    width: 100%;
    background-color: $white;
    position: relative;

    #{ $self }__status {
      display: flex;
      justify-content: flex-end;
      padding: $default-padding;
      width: 100%;

      border-bottom: 0.063rem solid $lite-grey;
    }

    #{ $self }__status--isHave {
      justify-content: space-between;
    }
  }

}