@import "../../assets/styles/variables";

.user-page-search {
  display: flex!important;
  justify-content: center;
  margin-bottom: $default-margin;
}

.user-page {

  &__user-list {
    height: 100vh;
  }
}