@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input , video, audio {
  outline: none;
}

button, input {
  cursor: pointer;
}

body {
  //overflow-y: hidden;
  scrollbar-color: $blue $black;
  scrollbar-width: 0.75rem;
  background-color: rgba(237, 238, 240, 0.2);
}

html, body, #root {
  height: 100%;
}

body > div:last-of-type(2) {

  @media (max-width: 767px) {
    transform: scale(.75);
  }

  @media (max-width: 575px) {
    transform: scale(.5);
    left: 5%!important;
  }

}

//change style of scrollbar
::-webkit-scrollbar-track {
  //border-radius: 0.625rem;
  background-color: $black;
}


::-webkit-scrollbar {
  width: 0.75rem;
  //border-radius: 0.625rem;
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  //border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 0 0.375rem white;
  background-color: $blue;
}

.icon svg, .btn, .btn svg{
  font-size: $font-size;
}

@media (max-width: 991px) {
  .form {
    margin: auto;
  }
}

@media (max-width: 767px) {

  ::-webkit-scrollbar-track {
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }

  scrollbar-width: 0.25rem;
}

@media (max-width: 575px) {
  .ant-tooltip.ant-tooltip-placement-top {
    display: none;
  }
}

.ant-divider-horizontal {
  @media (max-width: 767px) {
    margin: 0.75rem 0!important;
  }
}

